.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2a363b;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #ccc;
}

// .authBtn {
//   text-decoration: none;
//   font-weight: 500;
//   color: #fff;
// }

.activeLink {
  color: tomato;
}

.authBtn {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  background-color: #6b7cb4;

  &:hover {
    background-color: #5064a3;
    box-shadow: none;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
}

.container {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 4px;
}

.name {
  font-weight: 700;
  margin-right: 12px;
}
