// Filter
.label {
  position: relative;
  display: block;
  margin-bottom: 43px;
  height: 88px;
  max-width: 360px;
  font-size: 36px;
  line-height: 1;

  .input {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 5px;
    width: 285px;
    height: 40px;
    font-size: 25px;
    letter-spacing: 0.8px;

    &:focus {
      padding-left: 4px;
      border: 3px solid rgba(196, 225, 252, 0.616);
      box-shadow: 0px 0px 3px 3px rgba(83, 171, 253, 0.459);
      box-shadow: 0px 0px 6px 6px rgba(83, 171, 253, 0.466);
      outline: none;
    }
  }
}

// Contact List
.contactList {
  padding-left: 60px;

  .contactItem {
    display: flex;
    align-items: center;
    padding-left: 8px;
    margin-bottom: 7px;
    font-size: 36px;

    span {
      margin-right: 20px;
    }

    // Delete Contact
    .button {
      padding: 5px 15px 3px 14px;
      max-height: 35px;
      font-size: 20px;
      letter-spacing: 0.8px;
      border: 1px solid #ccc;
      border-radius: 8px;
      cursor: pointer;
      background-color: #fff;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12),
        0px 0px 3px rgba(0, 0, 0, 0.06), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
