// -------------------- Contact List
.contactList {
  padding: 0;
  padding-right: 12px;
  margin: 0;
  height: 100%;
  overflow: scroll;

  .contactItemInfoWrap {
    display: flex;
    align-items: center;

    & > ul {
      padding-left: 0;

      & > li {
        font-size: 16px;
        margin-bottom: 5px;
        list-style: none;

        &:first-child {
          font-weight: 700;
        }
      }
    }
  }
}
